@font-face {
    font-family: 'BebasRegular';
    src: url(../fonts//Bebas-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Simplifica';
    src: url(../fonts/SimplificaTypeface.ttf) format('truetype');
}
@font-face {
    font-family: 'Aileron';
    src: url(../fonts/Aileron-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/RobotoSlab-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'RobotoCondense';
    src: url(../fonts/RobotoCondensed-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'RobotoCBold';
    src: url(../fonts/RobotoCondensed-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'UbuntuR';
    src: url(../fonts/Ubuntu-R.ttf) format('truetype');
}
/* PAGES DESIGN */
.divTop {
    /*top: 19px;*/
    position: relative;
    height: 670px;
    background-color: #F0F0F0;
    /*width: 70%;*/
    transform: translateX(0%);
    /*transform: translateX(22%);*/
    padding: 25px;
    border-radius: 10px;
    border: 10px;
    color: black;
    -webkit-animation: fadeout 0.6s;
}
@-webkit-keyframes fadeout {
    0%,100% { opacity: 0; }
    100% { opacity: 1; }
}
h2 {
    font-family: 'Roboto';
}
label {
    font-family: 'BebasRegular';
}
    label.a {
        font-size:20px;
    }
    label.b {
        font-size: 18px;
        color: black;
    }
    label.c {
        font-size: 18px;
        color: dimgray;
    }
button {
    font-size: 11px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 1px solid black;
    border-radius: 1px;
    position: relative;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}
    button:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #1e1e1e;
        z-index: -1;
    }
    button:hover, button:focus {
        color: white;
    }
        button:hover:before, button:focus:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    button:active {
        transform: scale(0.9);
    }
table {
    border-collapse: collapse;
    width: 100%;
    border:solid;
    border-width:1px;
    border-color: silver;
    max-height: 400px;
}
    table.a {
        font-size: 5px;
    }
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
    font-size: 14px;
    width:6em;
    font-family: 'Roboto';
}
    td.a {
        font-size:small;
    }
th {
    background-color: var(--clr);
    color: white;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    font-weight: lighter;
    font-family: 'BebasRegular';
    letter-spacing: 0.5px;
}
a {
    color: #325af3;
    text-decoration: none;
    font-family: 'Roboto';
}
.btn-lnk {
    text-decoration: underline;
    font-family: 'Roboto';
    font-weight:bold;
    font-size:13px;
    text-transform:uppercase;

}
.editinput {
    height: 31px;
    width: 630px;
    padding-left: 5px;
    font-family: 'Roboto';
    font-size: 13px;
}


/* END PAGES DESIGN */
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #222327;
}
body{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height:30vh;*/
    font-family:'Roboto';
    background: var(--clr);
    color:white;
    padding: 10px;
    padding-left:20px;
}
.maindiv {
    display: flex;
    align-items: center;
    width: auto;
    /*min-height: 20vh;*/
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    /*height: 100px;*/
    background: var(--clr);
    transform: translateY(5px);
    transform: translateX(0%);
}
.divTitle {
    background-color: var(--clr);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 0.98em;
}
.divAction {
    padding-top: 10px;
    /*transform: translateX(292px);*/
    /*width: auto;*/
    /*width: 35%;*/
    text-align: left;
}
.fontSimplifica {
    font-family: 'Simplifica';
    font-size: 25px;
}
.fontBebasRegular {
    font-family: 'BebasRegular';
    font-size: 21px;
}
.navigation
{
    position: relative;
    width: 470px; /* Menu width, use when adding menu item */
    height: 70px;
    background: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul
{
    display: flex;
    width: 420px; /* Adjustment needed when .navagation width was configured */
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align:center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator 
{
    position: absolute;
    top:-50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator 
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator 
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator 
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator 
{
    transform: translateX(calc(70px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(70px * 5));
}

