@font-face {
    font-family: 'BebasRegular';
    src: url(../fonts//Bebas-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Simplifica';
    src: url(../fonts/SimplificaTypeface.ttf) format('truetype');
}
@font-face {
    font-family: 'Aileron';
    src: url(../fonts/Aileron-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/RobotoSlab-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'RobotoCondense';
    src: url(../fonts/RobotoCondensed-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'RobotoCBold';
    src: url(../fonts/RobotoCondensed-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'UbuntuR';
    src: url(../fonts/Ubuntu-R.ttf) format('truetype');
}
@font-face {
    font-family: 'AbelRegular';
    src: url(../fonts/Abel-Regular.ttf) format('truetype');
}


/* PAGES DESIGN */
.header {
    display: flex;
    top:0;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    margin-top:0px;
    text-decoration: none;
}
    .header ul {
        list-style: none;
    }
        .header ul li {
            list-style: none;
            display: inline-flex;
            padding: 0px 10px;
            font-family:"Roboto", sans-serif;
            font-weight:bold;
            font-size: 1.0em;
            padding-top:5px;
        }
.logo {
    margin-right: 20px;
}

/*#login_div {
    display: inline;
    float: right;
}
#login_div_cont li {
    display: inline;
    padding-right:20px;
    padding-bottom:20px;
    
}*/
.divTop {
    position: relative;
    /*height: 670px;*/
    background-color: #F0F0F0;
    transform: translateX(0%);
    padding: 2px;
    border-radius: 10px;
    border: 10px;
    color: black;
    -webkit-animation: fadeout 0.6s;
}
.float-container {
    padding: 5px;
    
}

.float-child {
    width: 100%;
    float: left;
    padding: 2px;
    margin-bottom:7px;
}

.divTitle {
    background-color: var(--clr);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 0.98em;
    width:100%;
}
@-webkit-keyframes fadeout {
    0%,100% { opacity: 0; }
    100% { opacity: 1; }
}
.divInterviewLeftSide {
    top: 10px;
    position: relative;
    height: 743px;
    float: left;
    background-color: silver;
    width: 400px;
    transform: translateX(2%);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.divInterviewRightSide {
    top: 10px;
    position: relative;
    height: 743px;
    float: right;
    width: 1000px;
    background-color: #E6E1E1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.divIntLeft {
    position:relative;
    float: left;
    width: 20vw;
    height: 32vw;
    margin-right: 30px;
    font-size: 1.0vw;

}
.divIntRight {
    height: 40vw;
    transform:translateX(30%);
    font-size: 1.0vw;
    background-color: silver;
    
}
#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}

    #accordion li label {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
        color: #006cff;
    }

        #accordion li label span {
            transform: rotate(90deg);
            font-size: 15px;
            font-weight: bold;
            color: #006cff;
        }

        #accordion li label + input[type="radio"] {
            display: none;
        }

#accordion .content {
    padding: 0 5px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

#accordion .contentScroll {
    padding: 0 5px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    overflow-y: scroll;
}

#accordion label + input[type="radio"]:checked + .content {
    max-height: 400px;
}

#accordion label + input[type="radio"]:checked + .contentScroll {
    max-height: 400px;
}

.divScroll {
    position: relative;
    width: 28%;
    float: left;
    height: 400px;
    background-color: whitesmoke;
    overflow: hidden;
    overflow-y: scroll;
    border: solid;
    border-color: silver;
    border-width: thin;
    transform: translateY(231px);
    width: 100%;
    border-bottom-right-radius: 10px;
}

.divExpiring {
    position: relative;
    width: 28%;
    float: left;
    background-color: whitesmoke;
    height: 112px;
    border: solid;
    border-width: thin;
    border-color: silver;
    transform: translateY(210px);
    width: 100%;
}

.divleft {
    position: relative;
    height: 200px;
    width: 683px;
    float: left;
    padding: 10px;
    padding-top: 20px;
}

.divright {
    position: absolute;
    height: 200px;
    width: 200px;
    float: right;
    transform: translateX(345%);
    padding: 10px;
    padding-top: 20px;
}

.accMain {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h2 {
    font-family: 'BebasRegular';
    padding-top:20px;
    padding-left:20px;
    padding-bottom:2px;
}
label {
    font-family: 'BebasRegular';
    padding-left: 20px;
}
    label.a {
        font-size:1.1em;
    }
    label.b {
        font-size: 1.0em;
        color: black;
    }
    label.c {
        font-size: 1.0em;
        color: dimgray;
    }
.pagerlogo {
    text-align: end;
    padding-right: 35px;
    padding-top: 35px;
}
.applicantPix {
    /*padding: 0.1vw;*/
    border: 0.2vw solid;
    border-color:black;
    width:9vw;
    height:9vw;
}
button {
    font-size: 0.68em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 1em;
    border: 1px solid black;
    border-radius: 1px;
    position: relative;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}
buttonTab {
    font-size: 0.7em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 1px;
    position: relative;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.1);
    color: black;
    /*text-decoration: none;*/
    transition: 0.3s ease all;
    z-index: 1;
    cursor: pointer;
}
button.a {
    font-size: 0.75em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    position: relative;
    color: #fc7d03;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}
    buttonTab:before, button:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: #1e1e1e;
        z-index: -1;
    }
    buttonTab:hover, buttonTab:focus, button:hover, button:focus {
        color: white;
        cursor:pointer;
    }
        buttonTab:hover:before, buttonTab:focus:before, button:hover:before, button:focus:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    buttonTab:active, button:active {
        transform: scale(0.9);
    }
table {
    border-collapse: collapse;
    width: 100%;
    border: solid;
    border-width: 1px;
    /*border-color: silver;*/
    max-height: 400px;
}
    table.a {
        font-size: 5px;
    }
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
    font-size: 0.9em;
    width: 6em;
    font-family: 'AbelRegular';
}
    td.a {
        font-size: small;
        font-family: 'AbelRegular';
    }
th {
    background-color: var(--clr);
    color: white;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    font-weight: lighter;
    font-family: 'BebasRegular';
    font-size: 0.9em;
    letter-spacing: 0.5px;
}
    th.border {
        background-color: var(--clr);
        color: white;
        height: 40px;
        text-align: left;
        padding-left: 10px;
        font-weight: lighter;
        font-family: 'BebasRegular';
        letter-spacing: 0.5px;
        border: 1px solid;
    }
a {
    color: #325af3;
    text-decoration: none;
    font-family: 'AbelRegular';
    font-size: 0.9em;
    word-wrap: break-word;
    font-weight:bold;
}
.btn-lnk {
    text-decoration: underline;
    font-family: 'AbelRegular';
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
}
.editinput {
    height: 31px;
    width: 50vw;
    padding-left: 5px;
    font-family: 'Roboto-Bold';
    font-size: 13px;
}

/* MENU ANIM DESIGN */
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #222327;
}
body{
    font-family:'Roboto-Bold';
    background: var(--clr);
    color:white;
    padding: 10px;
    padding-left:20px;
}
.maindiv {
    display: flex;
    align-items: center;
    width: auto;
    /*min-height: 20vh;*/
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    /*height: 100px;*/
    background: var(--clr);
    transform: translateY(5px);
    transform: translateX(0%);
}

.divAction {
    padding-top: 10px;
    text-align: left;
}
.fontSimplifica {
    font-family: 'Simplifica';
    font-size: 25px;
}
.fontBebasRegular {
    font-family: 'BebasRegular';
    font-size: 21px;
}
.navigation
{
    position: relative;
    width: 470px; /* Menu width, use when adding menu item */
    height: 70px;
    background: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul
{
    display: flex;
    width: 420px; /* Adjustment needed when .navagation width was configured */
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align:center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
    background: #fc7979;
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
    background: #8effa4;
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
    background: #f3ef82;
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
    background: #86c9f5;
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
    background: #f9c789;
}
.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(70px * 5));
    background: #9eaefb;
}


