@page
@model GISMO.Pages.Clients.AddClientModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <h2>Add New Client</h2>
    <label>Required to fill all information</label>


</div>


