@page
@model GISMO.Pages.Clients.ClientDetailsModel
@{
    Layout = null;
    ViewData["Title"] = "GISMO";
}

<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <div style="float:left">
        <h2>@Request.Query["selClient"]</h2>
        <label>List of Managed Vessel</label>
    </div>
    <div style="text-align:end; padding-right:35px">
        <img style="width:42px; height:42px" src="~/lib/Images/shelf.png" />
    </div>

    <br /><br />

    <table class="table">
        <thread>
            <tr>
                <th>Vessel Name</th>
                <th>Type</th>
                <th>Manning Agency</th>
                <th>Flag</th>
                <th>Route</th>
                <th>Show Onboard | Agency</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var vessel in Model.SelVessels)
            {
                <tr style="width:100%">
                    <td>
                        <a class="btn-link" href="#" onclick='loadHtml("template", "./Clients/VesselDetails?id=@vessel.Id&selVsl=@vessel.VesselName&tabid=fresh")'>@vessel.VesselName</a>
                    </td>
                    <td>@vessel.Type</td>
                    <td>PTC Phil Trans Carrier</td>
                    <td>Libera</td>
                    <td>Worlwide</td>
                    <td>
                        <a class="btn-lnk" href="#" onclick='loadHtml("template", "./Clients/VesselDetails?id=@vessel.Id&selVsl=@vessel.VesselName")'>Onboard</a>&nbsp;&nbsp;&nbsp;
                        <a class="btn-lnk" href="#" onclick='loadHtml("template", "./Clients/Planner?id=@vessel.Id&selVsl=@vessel.VesselName")'>Planner</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

