<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GISMO - Global Information for Ship Management Operators</title>
    <link rel="stylesheet" href="~/css/stylemenu.css" />
    <script src="~/js/site.js"></script>
</head>

<body>
    <header class="header">
       <ul>
            <li class="logo">GISMO</li>
          <li>
                <partial name="_LoginPartial" />
           </li>
       </ul>
    </header>
</body>

<div></div>
<div class="maindiv">
    <div class="navigation">
        <ul>
            <li class="list active">
                <a href="#" onclick='loadHtml("template", "../Dashboard")'>
                    <span class="icon">
                        <ion-icon name="bar-chart-outline"></ion-icon>
                    </span>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="list">
                <a href="#" onclick='loadHtml("template", "../Clients/Clients")'>
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="text">Clients</span>
                </a>
            </li>
            <li class="list">
                <a href="#" onclick='loadHtml("template", "../AdvanceSearch")'>
                    <span class="icon">
                        <ion-icon name="telescope-outline"></ion-icon>
                    </span>
                    <span class="text">Search</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="boat-outline"></ion-icon>
                    </span>
                    <span class="text">Vessels</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </span>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="navigate-circle-outline"></ion-icon>
                    </span>
                    <span class="text">Navigation</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule srcS="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</div>

<div id="template" class="template"><label style="color:dimgray">Loading...</label></div>

<div>
    @RenderBody()
</div>

<script>
    const list = document.querySelectorAll('.list');
    function activeLink() {
        list.forEach((item) =>
            item.classList.remove('active'));
        this.classList.add('active');
    }
    list.forEach((item) =>
        item.addEventListener('click', activeLink));
</script>
</html>
