@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<link rel="stylesheet" href="background_styles.css" />*@
@*<link rel="stylesheet" href="styles.css" />*@
<link rel="stylesheet" href="~/css/stylemenu.css" />

<style>
/*    .div1 {
        background-color: lightcoral;
        width: 30%;
        float: left;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .div2 {
        background-color: gold;
        width: 70%;
        float: right;
        margin: 0;
    }*/
</style>

<br /><br />
<ul>
@if (SignInManager.IsSignedIn(User))
{
    @*<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>*@
    <li>
        <a id="manage" asp-area="Identity" style="color:white; font-size:12px" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form id="logoutForm" style="color:white; font-size:12px" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a id="register" asp-area="Identity" style="color:white; font-size:12px" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a id="login" asp-area="Identity" style="color:white; font-size:12px" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
