@page
@model GISMO.Pages.ImageViewerModel
@{
    Layout = null;
}
@*@Request.Query["imagefile"]*@

<body style="background-color:black">
    <label>Selected Image</label>

    <img src="~/lib/Images/@Request.Query["imagefile"]" />
</body>



