@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<html>
<body>

<script>
    //SET IN VESSELDETAILS PAGE INITIAL TAB ACTIVE
    function waitForElement(id, callback){
        var checkDiv = setInterval(function(){
            if(document.getElementById(id)){
                clearInterval(checkDiv);
                callback();
            }
        }, 100);
    }
    waitForElement("btnDiv", function(){
        document.getElementById("defaultOpen").click();
    });
   
    //function delElem(){
    //    const element = document.getElementById('btnDiv');
    //    element.remove(); // Removes the div with the 'div-02' id
    //}

    //function hello() {
    //    console.log("XXX");
    //    document.getElementById("defaultOpen").click();
    //}
</script>
</body>
</html>
