@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<body>
@*<div class="text-center">*@
    @*<h1 class="display-4">Welcome</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @*<p>
        GISMO - Global Information for Ship Management Operators
    </p>*@
@*</div>*@
<div>
    
</div>

<style>
    .div1{
        background-color:lightcoral;
        width: 30%;
        float:left;
        margin:0;
        padding:0;
        max-width:none;
    }
    .div2{
        background-color:gold;
        width:70%;
        float:right;
        margin:0;
    }

</style>
</body>

