@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>
        GISMO - Global Information for Ship Management Operators
    </p>
</div>
<div>
    <br /><br /><br />
    <p>TO DO:</p>
    1. Interview page, where Owner can save comments from conducted interview. Accepted/Failed, one of these will be provided,
    change the field value from "Interview" to Accepted or Failed. After which, remove Applicant from table "Applicants" <br />
    2. Vessel Pool page, ADD and EDIT. Provide search vessel inside that page

</div>

<style>
    .div1{
        background-color:lightcoral;
        width: 30%;
        float:left;
        margin:0;
        padding:0;
        max-width:none;
    }
    .div2{
        background-color:gold;
        width:70%;
        float:right;
        margin:0;
    }

</style>
@*<body>
    <div class="div1">DIV1</div>
    <div class="div2">DIV2</div>
</body>*@

